@import "tailwindcss";

@layer base {
    :root {
        --primary:#0B2D2E;
        --secondary:#E86343;
        --secondary-rel:#C14426;  
    }
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {

    .text-primary{
        color: var(--primary);
    }

    .text-secondary{
        color: var(--secondary)
    }
    .text-secondary-rel{
        color: var(--secondary-rel)
    }

    .bg-primary{
        background-color: var(--primary)
    }

    .bg-secondary{
        background-color: var(--secondary)
    }
    .bg-secondary-rel{
        background-color: var(--secondary-rel)
    }

    .arrow-container{
        position: relative;
        height: 100px;
        display:flex;
        justify-content: center;
        overflow:hidden;
        margin-bottom: 8px;
        background-color:
    }

    .arrow{
        position:absolute;
        top:0;
        animation:arrowDown 2s ease-out infinite;
    }

    @keyframes arrowDown {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        90% {
            transform: translateY(50px);
            opacity: 1;
        }
        100% {
            transform: translateY(70px);
            opacity: 0;
        }
    }


}