@import "tailwindcss";

@layer base {
    :root {
        --primary:#082F36;
        --secondary:#E86343;
        --secondary-rel:#C14426;
        --titulos:#082F36;
        --crema:#F1EFE7;
        --coral:#E86A5C;
        --coral-oscuro:#C85B50; 
    }

}

@layer utilities {

    .text-primary{
        color: var(--titulos);
    }

    .text-crema{
        color: var(--crema);
    }

    .text-coral{
        color: var(--coral);
    }
    .text-coral-oscuro{
        color: var(--coral-oscuro);
    }

    

    .text-secondary{
        color: var(--secondary)
    }
    .text-secondary-rel{
        color: var(--secondary-rel)
    }

    .bg-primary{
        background-color: var(--primary)
    }

    .bg-coral-oscuro{
        background-color: var(--coral-oscuro)
    }

    .bg-secondary{
        background-color: var(--secondary)
    }
    .bg-secondary-rel{
        background-color: var(--secondary-rel)
    }

    .arrow-container{
        position: relative;
        height: 100px;
        display:flex;
        justify-content: center;
        overflow:hidden;
        margin-bottom: 8px;
    }

    .arrow{
        position:absolute;
        top:0;
        animation:arrowDown 2s ease-out infinite;
    }

    @keyframes arrowDown {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        90% {
            transform: translateY(50px);
            opacity: 1;
        }
        100% {
            transform: translateY(70px);
            opacity: 0;
        }
    }

    .container-rotate{
        height:100px;
        width:100px;
        display:flex;
        justify-content:center;
        align-item:center;
    }

    .arrow-rotate{
        color:#2A4D4E;
        animation: rotate 2s linear infinite
    }

    @keyframes rotate {
        from{
            transform: rotate(0deg);
        }

        to{
            transform: rotate(360deg);
        }
    }

    .animate-pin{ animation: pin 1.4s cubic-bezier(0,0,0.2,1) infinite; }

    @keyframes pin {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    75%,
    100% {
        transform: scale(1.2);
        opacity: 0;
        } 
    }

    .animate-down{ animation: down 0.4s ease-out forwards}

    @keyframes down{
        0%{
           transform: translateY(-100%);
            opacity:0;
        }

        100%{
            transform:translateY(0);
            opacity:1;
        }
    }




}